<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>NWPC 业务运行监控</title>
    <link type="text/css" href="//cdn.bootcss.com/weui/0.4.2/style/weui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var cur_time = new Date();
        function get_time_interval(start_date, end_date){
            var ms_interval=end_date.getTime()-start_date.getTime();
            var days=Math.floor(ms_interval/(24*3600*1000));

            var leave1=ms_interval%(24*3600*1000);    //计算天数后剩余的毫秒数
            var hours=Math.floor(leave1/(3600*1000));

            var leave2=leave1%(3600*1000);      //计算小时数后剩余的毫秒数
            var minutes=Math.floor(leave2/(60*1000));

            var leave3=leave2%(60*1000);     //计算分钟数后剩余的毫秒数
            var seconds=Math.round(leave3/1000);

            return {
                days: days,
                hours: hours,
                minutes: minutes,
                seconds: seconds
            }
        }

        function write_delay_time(start_time, end_time){
            var repo_delay = get_time_interval(start_time, end_time);
            if (repo_delay.days){
                document.write(repo_delay.days+'天前');
            } else if (repo_delay.hours) {
                document.write(repo_delay.hours+'小时前');
            } else if (repo_delay.minutes) {
                document.write(repo_delay.minutes  + '分钟前');
            } else if (repo_delay.seconds) {
                document.write(repo_delay.seconds  + '秒前');
            }
        }
    </script>
</head>
<body>
<h1>{{ owner }}</h1>
<div class="weui_cells weui_cells_access">
{% for a_repo in owner_repo_status %}

    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_hd">
            <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <p>{{ a_repo['repo'] }}</p>
        </div>
        <div class="weui_cell_ft">
            {% if a_repo['status'] %}
                {{ a_repo['status'] }}
            {% else %}
                未知
            {% endif %}
            &nbsp;
            {% if a_repo['last_updated_time'] %}
                <script type="text/javascript">
                    var repo_time = new Date("{{ a_repo['last_updated_time'] }}");
                    write_delay_time(repo_time, cur_time)
                </script>
            {% else %}
                未知
            {% endif %}
        </div>
    </a>

{% endfor %}
</div>
</body>
</html>