nmp-broker/static/css/* linguist-vendored
nmp-broker/static/js/* linguist-vendored
nmp-broker/static/fonts/* linguist-vendored
nmp-broker/static/js/* linguist-vendored
nmp-web/static/css/* linguist-vendored
nmp-web/static/js/* linguist-vendored
nmp-web/static/fonts/* linguist-vendored
nmp-web/static/js/* linguist-vendored