nwpc_monitor_broker/static/css/* linguist-vendored
nwpc_monitor_broker/static/js/* linguist-vendored
nwpc_monitor_broker/static/fonts/* linguist-vendored
nwpc_monitor_broker/static/js/* linguist-vendored
nwpc_monitor_web/static/css/* linguist-vendored
nwpc_monitor_web/static/js/* linguist-vendored
nwpc_monitor_web/static/fonts/* linguist-vendored
nwpc_monitor_web/static/js/* linguist-vendored