nwpc-monitor-broker/static/css/* linguist-vendored
nwpc-monitor-broker/static/js/* linguist-vendored
nwpc-monitor-broker/static/fonts/* linguist-vendored
nwpc-monitor-broker/static/js/* linguist-vendored
nwpc_monitor_web/static/css/* linguist-vendored
nwpc_monitor_web/static/js/* linguist-vendored
nwpc_monitor_web/static/fonts/* linguist-vendored
nwpc_monitor_web/static/js/* linguist-vendored