<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>NWPC 业务运行监控</title>
    <link type="text/css" href="//res.wx.qq.com/open/libs/weui/1.0.1/weui.min.css" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='app/static_page_index.js') }}"></script>
</head>
<body>
<h1 class="page_title">
    <a href="/{{ owner }}">{{ owner }}</a>
    /
    <a href="/{{ owner }}/{{ repo }}">{{ repo }}</a>
</h1>
<p>更新时间：{% if aborted_tasks_content['update_time'] %}
                <script type="text/javascript">
                    var repo_time = new Date("{{ aborted_tasks_content['update_time'] }}");
                    document.write(repo_time.toLocaleString());
                </script>
            {% else %}
                未知
            {% endif %}
</p>

{% if aborted_tasks_content['update_time'] %}
<p>更新时间：
    <script type="text/javascript">
        var repo_time = new Date("{{ aborted_tasks_content['update_time'] }}");
        write_delay_time(repo_time, cur_time);
    </script>
</p>
{% endif %}

<article class="weui-article">
<section>
    <h1>出错任务</h1>
    {% for a_task in aborted_tasks_content['tasks'] %}
        <p>
            {% if a_task['status'] %}
                <script type="text/javascript">
                    var task_status="{{ a_task['status'] }}";
                </script>
            {% else %}
                <script type="text/javascript">
                    var repo_status="unk";
                </script>
            {% endif %}
            <script type="text/javascript">
                document.write('<img src="'+ get_status_background_image(task_status) +'" alt="icon" style="width:40px;margin-right:5px;">');
            </script>
            {{ a_task['path'] }}
        </p>
    {% endfor %}
</section>
</article>

<div class="weui-cells__title">链接</div>
<div class="weui-cells weui-cells_access">
    <a class="weui-cell" href="/{{ owner }}/{{ repo }}">
        <div class="weui-cell__bd weui-cell_primary">
            <p>最新状态</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84739768-1', 'auto');
  ga('send', 'pageview');

</script>
</html>