<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>NWPC 业务运行监控</title>
    <link type="text/css" href="//res.wx.qq.com/open/libs/weui/1.0.1/weui.min.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/main.css" rel="stylesheet" />
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/app/index.js"></script>
</head>
<body>
<h1 class="page_title">NWPC 业务运行监控</h1>
<div class="weui-grids">
    <a href="/nwp_xp" class="weui-grid">
        <!--<div class="weui-grid_icon">-->
            <!--<img src="./images/icon_nav_button.png" alt="">-->
        <!--</div>-->
        <p class="weui-grid__label">
            运行科
        </p>
    </a>
    <a href="/nwp_pos" class="weui-grid">
        <p class="weui-grid__label">
            产品科
        </p>
    </a>
    <a href="/nwp_vfy" class="weui-grid">
        <p class="weui-grid__label">
            检验科
        </p>
    </a>
</div>

<div class="weui-cells__title">访问</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">owner</label>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <input id="owner_name_input" class="weui-input" type="tel" placeholder="请输入用户名">
        </div>
    </div>
</div>
<div class="button_sp_area">
    <a id="go_to_page_link" href="javascript:;" class="weui-btn weui-btn_plain-primary">访问</a>
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    $('#go_to_page_link').click(function(){
        var owner_name = $('#owner_name_input').val();
        location.href = '/'+owner_name;
    });
})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84739768-1', 'auto');
  ga('send', 'pageview');

</script>
</html>