<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>NWPC 业务运行监控</title>
    <link type="text/css" href="//res.wx.qq.com/open/libs/weui/1.0.1/weui.min.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/app/static_page_index.js"></script>
</head>
<body>
<h1 class="page_title"><a href="/{{ owner }}">{{ owner }}</a></h1>
<div class="weui-cells weui-cells_access">
{% for a_repo in owner_repo_status %}

    <a class="weui-cell" href="/{{ owner }}/{{ a_repo['repo'] }}">
        <div class="weui-cell__hd">
            {% if a_repo['status'] %}
                <script type="text/javascript">
                    var repo_status="{{ a_repo['status'] }}";
                </script>
            {% else %}
                <script type="text/javascript">
                    var repo_status="unk";
                </script>
            {% endif %}
            <script type="text/javascript">
                document.write('<img src="'+ get_status_background_image(repo_status) +'" alt="icon" style="width:40px;margin-right:5px;display:block">');
            </script>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <p>{{ a_repo['repo'] }}</p>
        </div>
        <div class="weui-cell__ft">
            {% if a_repo['last_updated_time'] %}
                <script type="text/javascript">
                    var repo_time = new Date("{{ a_repo['last_updated_time'] }}");
                    write_delay_time(repo_time, cur_time)
                </script>
            {% else %}
                未知
            {% endif %}
        </div>
    </a>

{% endfor %}
</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84739768-1', 'auto');
  ga('send', 'pageview');

</script>
</html>